name: FOSSA Scan

on: [push, pull_request]

jobs:
  fossa-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: fossas/fossa-action@v1.7.0
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}
